<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Mini Media</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <h3 class="text-4xl mb-3 font-semibold">Create Account</h3>
      <form action="/register" method="POST" class=" flex flex-col gap-3">
        <input class="px-3 py-2 bg-zinc-800 rounded-lg" type="text" placeholder="name" name="name" required/>
        <input class="px-3 py-2 bg-zinc-800 rounded-lg" type="text" placeholder="username" name="username" required/>
        <input class="px-3 py-2 bg-zinc-800 rounded-lg" type="password" placeholder="password" name="password" required/>
        <input class="px-3 py-2 bg-zinc-800 rounded-lg" type="number" placeholder="age" name="age" required/>
        <input class="px-3 py-2 bg-zinc-800 rounded-lg" type="emial" placeholder="email" name="email" required/>
        <input class="px-3 py-2 bg-green-500 font-bold cursor-pointer rounded-lg" type="submit" value="Create Account"/>
      </form>      
      <p class="mt-3 text-lg">Already have account? <a href="/login" class="text-green-500 font-bold">Login</a></p>
    </div>
  </body>
</html>
